{% extends "base.html" %}
{%block hellw%}
        <div class="main" style="width:90%">
            <div class="main-content">
            <div class="container-fluid"></div>
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="panel">
                            <div class="panel-heading">
                    <h3 class="panel-title">添加用户</h3>
                        {%if error_message%}
    <p style="color:red">{{error_message}}</p>{%end%} </div>
            <form action="/adduser" method="POST" >
            {% raw xsrf_form_html() %}
                        <div class="panel-body">
<p>用户名：<input type="text" name="username" ></p>
<p>用户密码：<input type="password" name="password" ></p>
<p>用户邮箱：<input type="text" name="email" ></p>
<p>手机号：<input type="text" name="iphone" ></p>
<p>管理员权限：<select class="form-control"name='quanxian'>
<option  value = "0" name='quanxian'>否</option >
<option value = "1" name='quanxian'>是</option ></select></p>
<input type="submit" value="添加" class="btn btn-xlarge btn-clean-one"></p></form>
{%end%}
