{% extends "base.html" %}
{%block hellw%}
        <div class="main" style="width:90%">
            <div class="main-content">
                <div class="container-fluid">
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                    <div class="panel-heading">
            <h3 class="panel-title">测试用例</h3></div>
<button type="button" class="btn btn-default" style=' height: inherit;width: inherit;float: left;  margin-left: 2%;'>
<a href="/addtestcase">添加用例</a></button> 
<button type="button" class="btn btn-default" style=' height: inherit;width: inherit;float: left;  margin-left: 2%;'>
<a href="/daorucase">导入用例</a></button> 
                                <div class="panel-body">
                    <table class="table table-striped">
                    <thead><tr>
        <th>项目名</th>
        <th>测试名字</th>
        <th>前置条件</th>
        <th>测试步骤</th>
        <th>测试预期</th>
        <th>创建时间</th>
        <th>创建者</th>
        <th>操作</th></tr></thead>
        <tbody style="text-align: initial;">
        {% for case in cases %}
        <tr> <td>{{case.projects}}</td>
                        <td>{{case.casename}}</td>
                        <td>{{case.case_qianzhi}}</td>
                        <td>{{case.case_buzhou}}</td>
                <td>{{case.case_yuqi}}</td>
                <td>{{case.case_crea_time}}</td>
                <td>{{case.users}}</td>  
<td>
{%if case.status==0%}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/delettestcase/{{case.id}}">删除</a></button>
{%elif case.status==1 %}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/huifutestcase/{{case.id}}">恢复</a></button>
{% end %}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/editcase/{{case.id}}">编辑</a></button>
</td>{%end%}</tr>
</tbody>
</table>
</div>
<div class="pagination">
 {% raw str_page%}
{%end%}
