{% extends "base.html" %}
{%block hellw%}
		<div class="main" style="width:90%">
			<div class="main-content">
			<div class="container-fluid"></div>
					<div class="row">
						<div class="col-md-12" >
							<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">编辑设备</h3>
						{%if error_message%}
	<p style="color:red">{{error_message}}</p>{%end%}</div>
	<form action="/edit_shebei/{{shebei.id}}" method="POST" >
	{% raw xsrf_form_html() %}
			<div class="panel-body">
	<p>设备编号：<input type="text" name="shebeibianhao" value="{{shebei.shebei_id}}"></p>
	<p>设备名字：<input type="text" name="shebeiname" value="{{shebei.shebei_name}}"></p>
<p>设备系统：<select  class="form-control" name="xitong" >
<option  value = "IOS"  >IOS</option>
<option  value = "Android"  >Android</option></select></p>
<p>设备型号：<input type="text" name="shebeixinghao" value="{{shebei.shebei_xinghao}}"></p>
<p>设备价格：<input type="text" name="jiage" value="{{shebei.shebei_jiage}}"></p>&nbsp;&nbsp;
<p>发票标号：<input type="text" name="fapiao" value="{{shebei.shebei_fapiaobianhao}}"></p>&nbsp;&nbsp;
<p>设备权限：<select class="form-control" name='quanxian'>
<option  value = "Flase" name='quanxian'>否</option >
<option  value = "True" name='quanxian'>是</option ></select></p>
<p>外借：<select class="form-control" name='waijie_s'>
<option  value = "Flase" name='waijie_s'>否</option >
<option  value = "True" name='waijie_s'>是</option ></select></p>
<p>外接人  ：<select  class="form-control" name='waijie'>
{%for user in user_list%}
<option  value = "{{user.username}}" name='waijie'>{{user.username}}</option >
{%end%}</select></p>
<p>外借时间：<input type="date" name="waijietime" value="{{shebei.shebei_date}}"></p>&nbsp;&nbsp;
<p>购买时间：<input type="date" name="goumai" value="{{shebei.gou_date}}"></p>&nbsp;&nbsp;
<p>设备状态：<select  class="form-control" name='shebeizhuangtai' >
<option  value = "正常" name="shebeizhuangtai">正常</option >
<option  value = "维修" name="shebeizhuangtai">维修</option ></select></p>&nbsp;&nbsp;
<p>入库人  ：<select  class="form-control" name='tianjia'>
{%for user in user_list%}
<option  value = "{{user.id}}" name='tianjia'>{{user.username}}</option >
{%end%}</p>
<input type="submit" value="添加" class="btn btn-xlarge btn-clean-one"></p></form>
{%end%}