{% extends "base.html" %}
{%block hellw%}
		<div class="main" style="width:90%"> 
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">设备统计</h3>
							<p class="panel-subtitle"></p>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">
									<div class="metric">
<span class="icon"><i class="fa fa-download"></i></span><p>
					<span class="number">{{user_num}}</span>
			<span class="title">用户</span></p></div></div>
						<div class="col-md-3">
							<div class="metric">
<span class="icon"><i class="fa fa-shopping-bag"></i></span>
										<p>
			<span class="number">{{shebei_num}}</span>
				<span class="title">设备</span></p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
			<span class="icon"><i class="fa fa-eye"></i></span>
										<p>
					<span class="number">{{waijie_num}}</span>
							<span class="title">借出</span>
										</p>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel">
								<div class="panel-heading">
						<h3 class="panel-title">最近借出记录</h3>
									<div class="right">
									</div>
								</div>
							<div class="panel-body no-padding">
							<table class="table table-striped">
										<thead>
											<tr>
												<th>设备编号</th>
												<th>设备名字</th>
												<th>系统</th>
												<th>借人</th>
												<th>时间</th>
											</tr>
										</thead>
							<tbody style="text-align: initial;">
								{% for sheibei in shebei_list %}
							<tr>
							<td><a href="#">{{sheibei.shebei_id}}</a></td>
						<td>{{sheibei.shebei_name}}</td>
			<td>{{sheibei.shebei_xitong}}</td>
		<td>{{sheibei.shebei_user}}</td>
	<td><span class="">{{sheibei.shebei_date}}</span></td>
											</tr>
										{% end %}
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<div class="row">
	<div class="col-md-0"><span class="panel-note"><i class="fa fa-clock-o"></i> </span></div>
					{%end%}
