{% extends "base.html" %}
{%block hellw%}
        <div class="main" style="width:90%">
            <div class="main-content">
                <div class="container-fluid">
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                    <div class="panel-heading">
            <h3 class="panel-title">测试网盘</h3></div>
<button type="button" class="btn btn-default" style=' height: inherit;width: inherit;float: left;  margin-left: 2%;'><a href="/addtestfile">添加</a></button> 
                         <div class="panel-body">
            <table class="table table-striped">
             <thead><tr>
        <th>分类</th>
        <th>文件名</th>
        <th>下载量</th>
        <th>创建时间</th>
        <th>是否推荐</th>
        <th>创建者</th>
        <th>操作</th></tr></thead>
        <tbody style="text-align: initial;">
        {% for filespan in filespans %}
        <tr> <td>{{filespan.file_fenlei}}</td>
                <td>{{filespan.file_name}}</td>
                 <td>{{filespan.down_count}}</td>
                 <td>{{filespan.creat_time}}</td>
            {% if filespan.is_tui==True %}
                <td>推荐</td>
                {%else%}
                <td>不推荐</td>{%end%}

                <td>{{filespan.users}}</td>  
<td>
{%if filespan.status==0%}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/delefilepan/{{filespan.id}}">删除</a></button>
{%elif filespan.status==1 %}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/resetfilepan/{{filespan.id}}">恢复</a></button>
{% end %}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="{{filespan.down_url}}">预览</a></button>
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/downfile/{{filespan.id}}">下载</a></button>
</td>{%end%}</tr>
</tbody>
</table>
</div>
<div class="pagination">
 {% raw str_page%}
{%end%}
