{% extends "base.html" %}
{%block hellw%}
		<div class="main" style="width:90%">
			<div class="main-content">
				<div class="container-fluid">
				</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">设备详情</h3>
								</div>
<button type="button" class="btn btn-default" style=' height: inherit;width: inherit;float: left;   margin-left: 2%;'>
<a href="/addshebei">添加</a></button> 
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
		<th>设备编号</th>
		<th>设备名字</th>
		<th>设备系统</th>
		<th>设备型号</th>
		<th>价格</th>
		<th>发票标号</th>
		<th>设备权限</th>
		<th>是否外接</th>
		<th>外接日期</th>
		<th>借设备人</th>
		<th>购买的时间</th>
		<th>设备状态</th>
		<th>入库人</th>
		<th>操作</th>
		</tr>
		</thead>
		<tbody style="text-align: initial;">
		{% for shebei in shebei_list %}
		<tr>
						<td>{{shebei.shebei_id}}</td>
						<td>{{shebei.shebei_name}}</td>
						<td>{{shebei.shebei_xitong}}</td>
				<td>{{shebei.shebei_xinghao}}</td>
				<td>{{shebei.shebei_jiage}}</td>
			<td>{{shebei.shebei_fapiaobianhao}}</td>
{% if shebei.shebei_quanxian==True%}
				<td>超级权限</td>
				{% elif shebei.shebei_quanxian!=True%}
				<td>无</td>{%end%}
				{% if shebei.shebei_jie==True%}
				<td>外借</td>
				{% elif shebei.shebei_jie==Flase%}
				<td>没有</td>{%end%}
					<td>{{shebei.shebei_date}}</td>
					<td>{{shebei.shebei_user}}</td>
					<td>{{shebei.gou_date}}</td>
					<td>{{shebei.shebei_status}}</td>
					<td>{{shebei.users}}</td>	
<td>
{%if shebei.she_sta==1%}<button type="button" class="btn btn-default"value='解冻' style=' height: inherit;width: inherit;'><a href="/jie/{{shebei.id}}">删除</a></button> {%end%}
{%if shebei.she_sta==0%}<button type="button" class="btn btn-default"value='冻结' style=' height: inherit;width: inherit;'><a href="/dongjie/{{shebei.id}}">恢复</a></button>{%end%}
<a href="/edit_shebei/{{shebei.id}}"><input type="button" class="btn btn-default"value='编辑' style=' height: inherit;width: inherit;'></a></td></tr>
    {% end %}
</tbody>
</table>
</div>
<div class="pagination">
 {% raw str_page%}
{%end%}
