{% extends "base.html" %}
{%block hellw%}
        <div class="main" style="width:90%">
            <div class="main-content">
                <div class="container-fluid">
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                    <div class="panel-heading">
            <h3 class="panel-title">测试报告</h3></div>
<button type="button" class="btn btn-default" style=' height: inherit;width: inherit;float: left;  margin-left: 2%;'>
<a href="/addtestresult">添加</a></button> 
                                <div class="panel-body">
                    <table class="table table-striped">
                    <thead><tr>
        <th>项目名</th>
        <th>创建时间</th>
        <th>一级bug量</th>
        <th>测试人员</th>
        <th>是否发送</th>
        <th>创建者</th>
        <th>操作</th></tr></thead>
        <tbody style="text-align: initial;">
        {% for testresult in testresults %}
        <tr> <td>{{testresult.projects}}</td>
                        <td>{{testresult.creat_time}}</td>
                        <td>{{testresult.bug_first}}</td>
                        <td>{{testresult.ceshirenyuan}}</td>
                         {%if testresult.is_send == True%}
                        <td>发送</td>
                        {%elif testresult.is_send ==Flase%}
                        <td>未发送</td>{%end%}
                <td>{{testresult.users}}</td>  
<td>
{%if testresult.status==0%}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/deleresult/{{testresult.id}}">删除</a></button>
{%elif testresult.status==1 %}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="/resetresult/{{testresult.id}}">恢复</a></button>
{% end %}
<button type="button" class="btn btn-default"value='' style=' height: inherit;width: inherit;'><a href="{{testresult.filepath}}">预览</a></button>
</td>{%end%}
</tr>
</tbody>
</table>
</div>
<div class="pagination">
 {% raw str_page%}
{%end%}
